header{
    position: relative;
    height: 90px;
    background-color: gray;
    margin-bottom: 10px;
    
    
}
header nav{
    margin-top: -45px;
}
header li  {
    
    display: inline;
    float: right ;
    padding-right : 200px  ;
    

}
header img  {

padding-top: 10px;
padding-left: 50px;

}
main>img {
padding-left: 14.2%;
}
main>div {
    padding-left: 15%;
}
main:nth-last-child()>img {
    padding:10%;
    
}
main:nth-last-child() {
    padding-left : 15%;
    
}
p {
    float:right;
font-size: 20px;
    text-align:center; 
    padding-right: 12%;
    text-align: left;
}
footer {
    
    height: 90px;
    background-color: gray;
    
       
}
    